*.vpw
*.vpwhist
*.vtg
file_io_plugin_samples/.vs/
file_io_plugin_samples/i256/Debug/
file_io_plugin_samples/i256/Release/
*.user
*.pdb
*.ipdb
*.iobj
*.vpj
file_io_plugin_samples/simImage/Release/

# macOS cross-compile output (build_c1_macos.sh)

# macOS cross-compile output (build_plugins_macos.sh)
file_io_plugin_samples/*/build/
